/* Style for the ETS schedule app */

/* Style for desktop view over 450 pixels */
@media (min-width: 450px) {
	/*Center all the things instead of left justify */
	.pageTitle, .opMode, .w2Contents p {
		margin:0 auto;
		text-align: center;
	}
	.w2Form label, .w2Form .formItem, .departures {
		margin:0 auto;
	}

	#swapButtonLabel {
		margin-top:15px !important;
		margin-bottom:15px;
	}
}


body {
	color: #3f4344;
	font-family: "Open Sans",sans-serif;
	background-color: #cccac8;
}


select {
	/*-webkit-appearance:none;*/
	padding:4px 6px; /* Needed for mobile safari to make the dropdowns not too tiny */
}

.pageTitle {

}

#eplLogo {
	/*float:left;*/
	margin-right:8px;
	height:100%;
	vertical-align:bottom;
}

#eplWordmark {
	fill:#004B8D;
}

.darkMode #eplWordmark {
	fill:white;
}

/* Style to handle selectize dropdowns */
.w2Form .selectizeLabel * {
	float:none;
}

.selectizeLabel {
	min-height:30px;
}

.selectizeLabel .selectize-input {
	font-size:16px;
	font-weight:normal;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
	font-size:14px;
	font-weight:normal;
}

.selectize-dropdown [data-selectable] .highlight {
	background: rgba(255, 255, 50, 0.3);
}

.selectize-control.multi .selectize-input > div {
		border-radius:4px;
		border:1px solid #AAA;
	}

.selectize-control.multi .selectize-input > div.active {
		background-color:#DDD;
		color:black;
		border-width:1px;
		border-color:#999;
	}


.selectize-dropdown-content .selected {
	/*background-color:inherit;*/
	text-decoration:none;
	color:inherit;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.w2Form input,
.w2Form button,
.w2Form textarea,
.w2Form select {
	font-size: 16px;
	border:1px solid #555;
}

.w2Form>label+label,
.w2Form>label+.formItem,
.w2Form>.formItem+.formItem,
.w2Form>.formItem+label,
.sectionContents>label+label {
	padding-top: 0px;
}

#swapButtonLabel {
	margin-top:20px;
}

input[type="button"], button {
	border: solid 1px black;
	border-radius:5px;
	background-image:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);
}

.pageTitle {
	font-size:24px;
}

.w2Form label, .w2Form .formItem {
	/*line-height:2.5em;*/
}

.w2Form label {
	overflow:auto;
}

.w2Form label.selectizeLabel {
	overflow:visible;
	/*display:block;*/
}

.leg {
	margin-bottom:1px;
}

.leg .smaller {
	font-size:18px;
}

.trainsFromTo {
	margin:8px 0px 6px 0px;
	font-size:18px;
	text-align:center;
}
.tripTime {
	margin-top:2px;
	font-weight:normal;
	font-size:17px;
}	

div#timeLabel {
	padding-top:5px;
}

#timeLabelText, .labelText {
	text-align: left;
	margin-top:5px;
	color:#3f4344;
	text-decoration: none;
}

a {
	text-decoration: underline;
	color:#0A2D75;
}

#nowLink, .nearestLink, #nearestRouteLink, #lrtMapTo {
	font-size:13px;
	text-decoration: underline;
	color:#0A2D75;
	font-weight:normal;
	/* nowLink should only be displayed when the time is not now */
	display:inline;
}

.lrtDepart .nearestLink, #lrtMapTo {
	display:none;
}


.departures {
	margin-top:20px;
	max-width:400px;
}


.departures table {
	margin:0;
	font-size:17px;
	width:400px;
	color:black;
}

.altColors tr {
	background-color: rgb(252, 252, 252);
}

.altColors tr:nth-child(4n+3){
	background-color:rgb(232, 232, 232);
}
.altColors tr:nth-child(4n+2){
	background-color:rgb(252, 252, 252);
}
.altColors tr:nth-child(4n+4){
	background-color:rgb(232, 232, 232);
}	

.departures table thead th {
	padding:3px 3px;
	font-size:15px;
	/*color:#555;*/
	/*opacity:0.5;*/
	/*font-weight:normal;*/
	background-color: rgb(232, 232, 232);
}

.departures table td {
	font-size:17px;
}

.nowrap {
	white-space:nowrap;
}

#ridLabel {
	margin-bottom:10px;
}

#swapFromTo, #swapRouteFromTo {
	font-size:13px;
	padding:1px 2px 2px 2px;
}

#swapRouteFromTo {
	text-align: center;
	float:none;
	margin:0 auto;
}

#nightModeLink {
	text-align:center;
	font-size:13px;
	margin:15px;
}

#nightModeLink a {
	color:#555;
	text-decoration: none;
}


@media (max-width: 450px) {
	.nearestLink, .lrtDepart .nearestLink, #nearestRouteLink, #lrtMapTo {
		display:inline;
		margin-left:6px;
	}

	.pageTitle {
		text-align: center;
	}

	.departures {
		width:100%;
		max-width:none;
	}

	.departures table {
		width:100%;
	}

	#swapFromTo, #swapRouteFromTo {
		width:50%;
		padding:1px 10px 2px 10px;
	}

	#ridLabel {
		/*padding-bottom:20px;*/
	}

	#swapButtonLabel {
		display:flex;
		justify-content:center;
		margin-bottom:8px;
	}

	label#toLabel,
	div#timeLabel {
		padding-top:0;
	}

	div#timeLabel {
		display:flex;
		justify-content:space-between;
	}

	#timeGroup {
		width:auto;
	}


}

.arrivalTime, .aT,
.countdown, .cD {
	min-width:80px;
	white-space:nowrap;
}

.arrivalTime, .aT {
	font-weight:bold;
}

.aT.rtLate {
	color:#b50202;
}

.aT.rtEarly {
	color:#158a00;
}

.darkMode .aT.rtLate {
	color:#faa7a7;
}

.darkMode .aT.rtEarly {
	color:#d6fdcf;
}

.skipped {
	opacity: 0.6;
}

.skipped .aT {
	text-decoration: line-through;
}

.due {
	color:green;
	font-weight:bold;
}

.gone {
	color:#770000;
	font-weight:bold;
}

#geoIcon {
	width:13px;
	height:12px;
}

#geoIcon path {
	fill:#0A2D75;
}

tr.destRow, tr.dR {
	display:none;
}

table td.destArrival,
table td.dA {
	opacity:0.75;
	font-size:15px;
	text-align: center;
	padding-bottom:8px;
	padding-top:2px;
}

.opMode {
	margin-top:5px;
	margin-bottom:8px;
	display:flex;
	justify-content:space-around;
	max-width:400px;
	flex-wrap:wrap;

}

.opMode a, .opMode span {
	white-space:nowrap;
	padding:4px 5px;
	text-decoration: none;
}

.selectedMode {
	text-decoration: none;
	color:black;
	background-color:rgba(0,0,0,.1);
	border-radius:4px;
}

.stopMap {
	height:200px;
}

#mapModal {
	/*margin-top:20px;*/
	width:100%;
	width:calc(100% - 16px);
	height:100%;
	height:calc(100% - 30px);
	/*height:80vh;*/
	/*max-height:600px;*/
	display:none;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:6px 3px 14px 3px;
	padding:4px;
	background-color:#b3b3b3;
	border-radius:10px;
	z-index:1000;

}

.darkMode #mapModal {
	background-color:white;
}

@keyframes fadeIn {
    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to
    {
        opacity: 0;
    }
}

@keyframes slideIn {
    to {
		top:0px;
    }
}

@keyframes slideOut {
    to {
        top: 120vh;
    }
}

@keyframes pulseLight {
    to {background-color: #999;}
}

@keyframes pulseDark {
	to {background-color: #777;}
}

.fadeIn {
    opacity: 0;
    animation: fadeIn .400s ease-in-out 1 forwards;
}

.fadeOut {
    opacity: 1;
    animation: fadeOut .300s ease-in-out 1 forwards;
}

.slideIn {
    top:100vh;
    animation: slideIn .800s ease-out 1 forwards;
}

.slideOut {
	top:0vh;
	animation: slideOut .800s ease-in 1 forwards;
}

.pulse {
	animation: pulseDark .200s ease-in-out 2 alternate;
}

.darkMode .pulse {
	animation: pulseLight .200s ease-in-out 2 alternate;
}

#mapCanvas {
	width:100%;
	height:100%;
	border-radius:10px;
}


.modal.fade.in {
	top: 50%;
}


#closeMap {
	display:none;
	text-align: center;
	/*margin-top:3px;*/
	z-index:1100;
	position:fixed;
	bottom:30px;
	padding:4px;
	left:0;
	right:0;

}

#closeMap a {
	background-color: #002c73;
	border-radius:14px;
	color:white;
	text-decoration:none;
	padding:4px 6px;
	box-shadow: 4px 4px 6px -2px rgba(0,0,0,0.75);
}

#closeMap a:hover {
	background-color:#5683cc;
	box-shadow: 2px 2px 3px -2px rgba(0,0,0,0.75);
}

#mapNotice, #closestStations {
	clear:both;
	text-align: center;
	margin-top:5px;
	display:block;
}

.mapLink {
	float:left;
	font-size:12px;
	text-decoration: none;
	/*border:1px solid #0A2D75;*/
	border-radius:3px;
	/*padding:2px;*/
}

.mapLink .icon {
	font-size:16px;
	line-height:1.02em;
}

.mapLink .mapBtnLabel {
	/*text-decoration: underline;*/
}

/* Dark Mode styles for Night */
	body.darkMode {
		background-color:#222;
		color:#ccc;
	}
	
	.darkMode .selectedMode {
		color:rgb(193, 211, 250);
		background-color:rgba(255,255,255,.1);			
	}

	.darkMode .pageTitle,
	.darkMode #nowLink,
	.darkMode .nearestLink,
	.darkMode #nearestRouteLink,
	.darkMode #lrtMapTo {
		color:rgb(126, 164, 241);
	}

	.darkMode a {
		color:rgb(126, 164, 241);
	}

	.darkMode .mapLink {
		border-color:rgb(126, 164, 241);
	}

	.darkMode .w2Contents {
		background-color:#111;
	}

	.darkMode #timeLabelText, 
	.darkMode .labelText {
		color:#ccc;
	}

	.darkMode .altRow {
		background-color: rgb(40, 40, 40);
	}

	.darkMode .departures table {
		color:#ddd;
	}

	.darkMode .departures table thead th {
		/*color:#888;*/
		background-color:rgb(40, 40, 40);
	}

	.darkMode .altColors tr {
		background-color: #000;
	}

	.darkMode .altColors tr:nth-child(4n+3){
		background-color:rgb(40, 40, 40);
	}

	.darkMode .altColors tr:nth-child(even){
		/*background-color:rgb(40, 40, 40);*/
	}

	.darkMode .altColors tr:nth-child(4n+2){
		background-color:rgb(0, 0, 0);
	}
	.darkMode .altColors tr:nth-child(4n+4){
		background-color:rgb(40, 40, 40);
	}		

	.darkMode .w2Form input,
	.darkMode .w2Form button,
	.darkMode .w2Form textarea,
	.darkMode .w2Form select {
    	border:1px solid #888;
	}

	.darkMode select {
		/*-webkit-appearance:none;*/
		padding:4px 6px; /* Needed for mobile safari to make the dropdowns not too tiny */
		color:white;
		background-color:black;
		background-image:linear-gradient(to bottom, rgba(100,100,100,0.45) 0%,rgba(0,0,0,0) 100%);
	}

	.darkMode .selectize-input {
		background-color:black;
		background-image:linear-gradient(to bottom, rgba(100,100,100,0.45) 0%,rgba(0,0,0,0) 100%);
		border:1px solid #888;
	}

	.darkMode .selectize-input.full {
		background-color:transparent;
	}

	.darkMode .selectize-control.single .selectize-input.input-active {
		background: black;
	}

	.darkMode .selectize-dropdown {
		color:white;
		background-color:black;
		border-color: #888;
	}

	.darkMode .selectize-dropdown, .darkMode .selectize-input, .darkMode .selectize-input input {
		color:white;
	}

	.darkMode .selectize-dropdown .active {
		background-color:#555;
		color: white;
	}

	.darkMode .selectize-control.multi .selectize-input > div {
		background-color:#111;
		color:white;
		border-color:#333;
	}

	.darkMode .selectize-control.multi .selectize-input > div.active {
		background-color:#555;
		color:white;
		border-color:#777;
	}

	.darkMode .selectize-control.multi .selectize-input > div.active.selected {
		color:white;
	}

	.darkMode .selectize-dropdown-content .selected {
		background-color:black;
	}

	.darkMode .selectize-dropdown-content .selected.active {
		background-color:#555;
	}

	.darkMode input, 
	.darkMode button {
		background-color:black;
		color:#ddd;
	}

	.darkMode input[type="button"],
	.darkMode button {
		background-image:linear-gradient(to bottom, rgba(100,100,100,0.45) 0%,rgba(0,0,0,0) 100%);
	}


	.darkMode .due {
		color:#00A000;
	}
	.darkMode .gone {
		color:#CC0000;
	}

	.darkMode #geoIcon path {
		fill:rgb(126, 164, 241);
	}

	.darkMode .debug {
		border:1px solid gray;
		border-collapse:collapse;
	}

	.darkMode .debug td {
		border:1px solid gray;	
	}

	.darkMode .dowCell {
		padding:0 2px!important;
		text-align: center;
	}
/* End darkMode styles */
